@import "includes/variables";
@import "includes/fonts";
@import "includes/mixins";
@import "vendor/bootstrap";
@import "vendor/sweetalert";
@import "includes/flexbox";
@import "includes/svg_css_class";
@import "includes/menu";
@import "home";
@import "includes/footer";

body {
  @include crimsonTextFont;
  color: $studio-light-black-color;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translateY(0);
  }
  40% {
    @include translateY(-30px);
  }
  60% {
    @include translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translateY(0);
  }
  40% {
    @include translateY(-30px);
  }
  60% {
    @include translateY(-15px);
  }
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

::-moz-selection, ::-moz-selection {
  color: #fff !important;
  background: $studio-orange-color !important;
}

::-moz-selection, ::selection {
  color: #fff !important;
  background: $studio-orange-color !important;
}

.ajax-loader {
  display: block;
  @include posAbs(50%, 50%);
  @include widthHeight(30px, 30px);
  @include  marginTopLeft(-15px, -15px);
  background: url('//s3.amazonaws.com/website-2017/images/svg/ajax-loader.svg') no-repeat;
}
ul, li{ list-style-type: none; padding: 0px;}

a { color: inherit; }

$i: 100;
@while $i >= 0 {
  .m#{$i} { margin: $i + px; }
  .mt#{$i} { margin-top: $i + px; }
  .mb#{$i} { margin-bottom: $i + px; }
  .mr#{$i} { margin-right: $i + px; }
  .ml#{$i} { margin-left: $i + px; }
  .p#{$i} { padding: $i + px; }
  .pt#{$i} { padding-top: $i + px; }
  .pb#{$i} { padding-bottom: $i + px; }
  .pr#{$i} { padding-right: $i + px; }
  .pl#{$i} { padding-left: $i + px; }
  $i: $i - 5;
}

$i: 30;
@while $i >= -30 {
  .top#{$i} { top: $i + px; }
  .bottom#{$i} { bottom: $i + px; }
  .left#{$i} { left: $i + px; }
  .right#{$i} { right: $i + px; }
  $i: $i - 5;
}

$i: 11;
@while $i <= 40 {
  .f#{$i} { font-size: $i + px; }
  $i: $i + 1;
}
$i: 14;
@while $i <= 40 {
  .lh#{$i} { line-height: $i + px; }
  $i: $i + 2;
}
$i: 100;
@while $i <= 800 {
  .fw#{$i} { font-weight: $i; }
  $i: $i + 100;
}


.rel { position: relative; }
.abs { position: absolute; }
.dIB { display: inline-block; }
.curP {cursor: pointer;}
button.btn {@extend .rel;}
button.btn.loaderIn {
    color: transparent !important;
    background-image: none !important;
}

.brand-color {  color: $studio-orange-color; }
svg:hover .brand-orange-fill-color {
  fill: $studio-hover-color;
}
.brand-black-color {  color: $studio-dark-black-color; }
.brand-blue-color {  color: $studio-sky-blue-color; }

.primary-button {
  background: $studio-orange-color;
  border: 0;
  border-radius: 0;
  color: #fff;
  @include semiBoldFont;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 15px;
}
.primary-button:hover {
  color: #fff;
  background: $studio-hover-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}
.header-content ul {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  li a img {
    width: 175px;
    height: 68px;
  }
}
.policy-content ol li {
  list-style-type: decimal;
}
.navbar-brand {
  height: 100%;
  padding: 5px 15px;
  img {
    width: 100px;
  }
}
.nav.navbar-nav {
  margin-top: 12px;
}
.thankyou-section {
  width: 30%;
  margin: 80px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 30px 0;
}
