{%
    set docster_menus = [{
        name: 'Details',
        url: paths.details_path,
        page_name: 'details'
    }, {
        name: 'Contact Us',
        url: paths.contact_us_path,
        page_name: 'contact_us'
    }, {
        name: 'About Us',
        url: paths.about_us_path,
        page_name: 'about_us'
    }]
%}
<nav class="menu-section-wrap">
	<div class="menu-container opaque-popup">
		<div class="menu-main-section">
			<div class="menu-wrapper">
				<nav id="mainNav" class="navbar navbar-default">
		        <div class="container-fluid">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
		                </button>
		                <a class="navbar-brand page-scroll" href="/"><img src="images/home/logo.png"></a>
		            </div>

		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav navbar-right">
		                	{% for docster_menu in docster_menus %}
						            <li>
						              <a href="{{docster_menu.url}}"><span>{{docster_menu.name}}</span></a>
						            </li>
						          {% endfor %}
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
		        <!-- /.container-fluid -->
		    </nav>
	</div>
</nav>
