{% extends "./layouts/default.html" %}

{% block title %}
    About Us
{% endblock %}

{% block extra_css %}
    <link href="/css/about_us.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container mt50">
        <h3>The DropApp Story:</h3>
        <p>
            DropApp the idea was born in early 2017 when a software services company decided to do products. Idyllic Software Private Limited is the brains and IP behind DropApp.  Backed by a team 40 professionals. We want to connect the doctor and patients with a very simple interface to interact with each other. 

            We are currently building the first phase of our application and looking for constant feedback from doctors and patients. Please get in touch with us for any suggestions and ideas.
        </p>
    </div>

{% endblock %}
