{% extends "./layouts/default.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block extra_css %}
    <link href="/css/contact_us.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container mt50">
        <p>
            DropApp - Powered by Idyllic Software Private Limited.</br>
            Idyllic Software Private Limited,</br>
            D-321, Neelkanth Business Park, </br>
            Nathani Road, Next to Vidyavihar Bus Depot, </br>
            Vidyavihar - West. </br>
            Mumbai - 400086</br>
            Email id: <a href="mailto:solutions@idyllic.co">solutions@idyllic.co</a></br>
            Phone no: <a href="tel:+9122-25159707">+91 22-25159707</a> 
        </p>
    </div>

{% endblock %}
