{% extends "./layouts/default.html" %}

{% block title %}
    Product Details
{% endblock %}

{% block extra_css %}
    <link href="/css/details.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="container mt50">
		<p>
			Dropapp provides a platform for the follow ups between doctors and their patients. As a patient when you have queries about the medication or if you need to follow up your doctor with queries. Dropapp facilitates this interaction between doctors and patients through a simple interface for interaction.
		</p> 
		<p>
			The platform offers a simple interface where the patients can follow up with their doctors through chat messages. The platform also offers patient of request emergency calls which will send appropriate notifications to the patients and the doctor for consultation. The Doctor is also, able to open and close an interaction and the doctors can cater to multiple patients.
		</p>   
		<p>
			Doctor’s can charge a fees to their patients at discretion based on the consultation provided. The doctor creates a charge in the DropApp system and patients agree to this model in the Terms and Conditions of use. To add to the ease of use the doctors can create a charge in the application and patients can pay through mobile wallets like PayTM. The charge created by the doctor is completely dependent on the doctor for the consultation.  Once the doctor creates a charge the patient can pay up.
		</p>
		<p>
			Dropapp charges a small fee to the doctor based on the transaction that happen between a doctor and patient. The Terms and Conditions of that the doctors agree with using the application.
		</p>
	</div>

{% endblock %}
