{% extends "./layouts/default.html" %}

{% block title %}
    How it works
{% endblock %}

{% block extra_css %}
		<link href="/css/details.css" rel="stylesheet" />
{% endblock %}

{% block content %}
		<div class="container mt50">
				<h3 class="mb20">How Drop App Works - For Patients:</h3>
				<h5>Follow-up</h5>
				<p>
					Patient needs to follow-up with their for a certain line of treatment. The patient punched in the queries that (s)he has.
				</p>
				<h5>Consultation</h5>
				<p>
					The doctor sees the message from the patients and provides appropriate consultation for the patient query and the line of treatment. 
				</p>
				<h5>Satisfaction</h5>
				<p>After the patient and doctor interaction. The patient feels satisfied with the line of treatment prescribed. Once relieved notifies the doctor.</p>
				<h5>Charge</h5>
				<p>Once the doctor provides its consultation. The doctor can go ahead and charge their patients for the consultation fees. The charge is created in the DrpoApp system and sent to the patient.</p>
				<h5>Payment</h5>
				<p>
				The patient gets a notification about the payment. The patient can approve the charge that the doctor created.
				</p>
		</div>

{% endblock %}
