@mixin crimsonTextFont {
  font-family: 'Crimson Text', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  letter-spacing: 1px;
}

@mixin proximaNova($size:400) {
  font-family: "proxima-nova","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: $size;
  font-style: normal;
}

@mixin semiBoldFont {
  @include proximaNova(600);
}

@mixin displayFlexCenter {
  display: flex;
  @include browserCssFlex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

@mixin browserCssFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}


@mixin lightPlaceHolder() {
  ::-webkit-input-placeholder {
    @include lightPlaceholderFont;
  }
  :-moz-placeholder {
    @include lightPlaceholderFont;
  }
  ::-moz-placeholder {
    @include lightPlaceholderFont;
  }
  :-ms-input-placeholder {
    @include lightPlaceholderFont;
  }
}

@mixin posAbs($top:0px, $left:0px) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin widthHeight($width:100%, $height:100%){
  width: $width;
  height: $height;
}

@mixin marginTopLeft($top:0px, $left:0px) {
  margin-top: $top;
  margin-left: $left;
}

@mixin circle($diameter){
  @include widthHeight($diameter, $diameter);
  border-radius: 100%;
}

@mixin translateY($top){
  -moz-transform: translateY($top);
  -ms-transform: translateY($top);
  -webkit-transform: translateY($top);
  transform: translateY($top);
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition-all;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: $color;
    background-color: darken($background, 5%);
      border-color: darken($border, 7%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}



// Mixins

@mixin transition-all() {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
